@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:300,400|Roboto:300,400&display=swap");
* {
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: inherit; }

html {
  color: #000;
  background: #fff;
  font-size: 62.5%; }

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset,
img {
  border: 0; }

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal; }

ol,
ul {
  list-style: none; }

th {
  text-align: left; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

input,
textarea,
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none; }

* {
  font-family: Roboto, "Noto Sans JP", sans-serif; }

.header {
  position: fixed;
  width: 100%;
  height: 90px;
  background: #5c74a4;
  padding: 20px 30px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  top: 0;
  z-index: 1000; }
  .header__link {
    display: inline-block; }
  .header__title {
    font-size: 3rem;
    color: #fff;
    font-weight: 300;
    letter-spacing: 2px; }
  .header__description {
    font-size: 1rem;
    color: #dfe4f9; }

.sub-header {
  position: fixed;
  width: 100%;
  height: 48px;
  background: #e4eaf1;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  top: 89px;
  z-index: 900; }
  .sub-header__title {
    font-size: 1.8rem;
    line-height: 48px;
    padding: 2px 20px 0;
    letter-spacing: 2px; }

.main {
  margin-top: calc(138px);
  height: calc(100vh - 138px);
  font-size: 2rem; }
  .main > div {
    max-width: 600px;
    margin: 0 auto;
    padding: 16px 20px;
    border-right: 3px solid #eee;
    border-left: 3px solid #eee; }
  .main__index {
    height: calc(100% - 80px);
    overflow-y: scroll;
    padding: 0 20px !important; }
    .main__index h2 {
      position: sticky;
      width: 100%;
      font-size: 2.4rem;
      border-bottom: 3px double #5c74a4;
      background: white;
      top: 0;
      padding: 20px 10px 5px;
      margin-bottom: 30px;
      z-index: 800; }
    .main__index h3 {
      font-size: 2.4rem;
      background: white;
      padding: 10px; }
    .main__index span {
      font-size: 1.6rem;
      margin: 0 10px;
      position: relative;
      top: -1px;
      z-index: 1; }
    .main__index table {
      width: 100%;
      font-size: 1.6rem;
      margin-bottom: 50px; }
      .main__index table tr td {
        height: 30px;
        line-height: 35px;
        border: 1px solid #bbb;
        padding: 0 8px; }
        .main__index table tr td:nth-child(3n) {
          min-width: 50px;
          text-align: center;
          background: #153152; }
          .main__index table tr td:nth-child(3n) button {
            color: white; }
        .main__index table tr td:nth-child(3n+1) {
          width: 80%; }
        .main__index table tr td:nth-child(3n+2) {
          text-align: right;
          width: 30%;
          max-width: 300px;
          min-width: 100px; }
  .main__footer {
    height: 80px;
    background: #e4eaf1;
    opacity: 0.8;
    box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.2);
    padding: 20px 0 !important;
    position: relative;
    z-index: 900; }
    .main__footer button {
      width: 80%;
      margin: auto;
      font-size: 1.5rem;
      display: block;
      height: 40px;
      border-radius: 4px;
      max-width: 400px;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
      background: #5c74a4;
      color: #fff; }
  .main__reserve__input label {
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 6px;
    display: block;
    line-height: 40px; }
    .main__reserve__input label i {
      margin-right: 5px;
      color: #555;
      padding: 3px;
      font-size: 2rem; }
  .main__reserve__input input,
  .main__reserve__input select {
    appearance: none;
    -webkit-appearance: none;
    height: 36px;
    border: 1px solid #bbb;
    padding: 0 8px;
    margin-bottom: 30px;
    font-size: 1.6rem;
    background: white; }
    .main__reserve__input input option,
    .main__reserve__input select option {
      text-align: center; }
  .main__reserve__input span {
    font-size: 1.4rem;
    margin-right: 16px;
    margin-left: 2px; }
  .main__reserve__input small {
    margin: 0 8px; }
  .main__reserve__input .form-name {
    width: 100%; }
  .main__reserve__input .form-year {
    width: 60px; }
  .main__reserve__input .form-month,
  .main__reserve__input .form-date {
    width: 36px; }
  .main__reserve__input .form-starttime,
  .main__reserve__input .form-endtime {
    width: 60px;
    margin-bottom: 40px; }
  .main__reserve__input .submit {
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
    -webkit-appearance: none;
    width: 80%;
    margin: auto;
    font-size: 1.5rem;
    display: block;
    height: 40px;
    border-radius: 4px;
    max-width: 400px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    background: #5c74a4;
    color: #fff; }
  .main__table {
    height: calc(100% - 80px);
    font-size: 1.4rem;
    overflow-y: scroll; }
    .main__table__data {
      border: 1px solid black; }
      .main__table__data tr th,
      .main__table__data tr td {
        padding: 6px;
        border: 1px solid #bbb;
        text-align: center; }
        .main__table__data tr th:nth-child(2),
        .main__table__data tr td:nth-child(2) {
          width: 500px; }
    .main__table button {
      width: 80%;
      margin: auto;
      font-size: 1.5rem;
      display: block;
      height: 40px;
      border-radius: 4px;
      max-width: 400px;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
      background: #eee;
      color: #5c74a4; }
