@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:300,400,500|Roboto:300,400,500&display=swap");
* {
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: inherit; }

html {
  color: #000;
  background: #fff;
  font-size: 62.5%; }

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset,
img {
  border: 0; }

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal; }

ol,
ul {
  list-style: none; }

th {
  text-align: left; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

input,
textarea,
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none; }

input {
  line-height: 1.2; }

@font-face {
  src: url("../../font/5.ttf");
  font-family: 'logo'; }

* {
  font-family: Roboto, "Noto Sans JP", sans-serif; }

@media screen and (max-width: 372px) {
  html,
  body {
    font-size: 56%; } }

.main {
  margin-top: calc(112px);
  height: calc(100vh - 112px);
  font-size: 1.6rem; }
  .main > div {
    max-width: 600px;
    margin: 0 auto;
    padding: 24px 20px;
    border-right: 3px solid #eee;
    border-left: 3px solid #eee; }
  .main > .footer {
    width: 100%;
    height: 80px;
    background: #e4eaf1;
    padding: 20px;
    box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.2);
    position: fixed;
    bottom: 0;
    z-index: 900; }
  .main .caption {
    font-size: 1.4rem;
    line-height: 1.8;
    color: #555;
    padding: 0 10px;
    margin-bottom: 30px; }
  .main .button-primary {
    width: 80%;
    margin: 0 auto 16px;
    font-size: 1.5rem;
    display: block;
    height: 40px;
    border-radius: 4px;
    max-width: 400px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    background: #5c74a4;
    color: #fff; }
  .main .button-cancel {
    width: 80%;
    margin: 0 auto 16px;
    font-size: 1.5rem;
    display: block;
    height: 40px;
    border-radius: 4px;
    max-width: 400px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    background: #eee;
    color: #888; }
  .main .button-danger {
    width: 80%;
    margin: 0 auto 16px;
    font-size: 1.5rem;
    display: block;
    height: 40px;
    border-radius: 4px;
    max-width: 400px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    background: #bc6f59;
    color: #fff; }
  .main + div {
    display: none !important; }

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 72px;
  background: #5c74a4;
  padding: 12px 24px 8px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  top: 0;
  z-index: 1000; }
  .header__link {
    display: inline-block; }
  .header__title {
    font-size: 2.8rem;
    color: #fff;
    font-weight: 400;
    letter-spacing: 4px;
    line-height: 1.2;
    margin-left: 18px;
    font-family: 'logo', sans-serif; }
    .header__title span {
      letter-spacing: 3px;
      font-family: 'logo', sans-serif; }
  .header__description {
    font-size: 1rem;
    color: #dfe4f9;
    margin-left: 4px;
    letter-spacing: -0.5px; }
  .header__icon {
    padding: 14px; }
    .header__icon img {
      width: 28px; }

.sub-header {
  position: fixed;
  width: 100%;
  height: 40px;
  background: #e4eaf1;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  top: 71px;
  z-index: 900; }
  .sub-header__title {
    font-size: 1.6rem;
    line-height: 40px;
    color: #111;
    padding: 2px 20px 0;
    letter-spacing: 2px;
    font-weight: 400; }

.index ul li {
  line-height: 40px;
  height: 40px;
  padding: 4px 0 40px;
  width: 100%;
  margin-bottom: 20px;
  color: #111;
  border-bottom: 2px solid #bbb; }
  .index ul li a {
    width: 100%;
    height: 40px;
    padding: 0 14px;
    display: block; }
    .index ul li a img {
      height: 20px;
      width: 20px;
      opacity: 0.6;
      position: relative;
      top: 3px;
      margin-right: 16px; }

.reserve__input label {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 6px;
  display: block;
  line-height: 40px;
  color: #444; }
  .reserve__input label img {
    margin-right: 5px;
    opacity: 0.7;
    width: 28px;
    padding: 3px;
    position: relative;
    top: 7px; }

.reserve__input input,
.reserve__input select {
  appearance: none;
  -webkit-appearance: none;
  height: 36px;
  border: 1px solid #bbb;
  padding: 0 8px;
  margin-bottom: 30px;
  font-size: 1.6rem;
  background: white;
  border-radius: 4px; }

.reserve__input span {
  font-size: 1.4rem;
  margin-right: 16px;
  margin-left: 2px; }

.reserve__input small {
  white-space: pre; }

.reserve__input .form-name {
  width: 100%; }

.reserve__input .form-year {
  width: 60px; }

.reserve__input .form-month,
.reserve__input .form-date {
  width: 36px; }

.reserve__input .form-starttime-hour,
.reserve__input .form-starttime-minute,
.reserve__input .form-endtime-hour,
.reserve__input .form-endtime-minute {
  width: 36px;
  margin-bottom: 40px; }

.table {
  height: calc(100% - 80px);
  font-size: 1.4rem;
  overflow-y: scroll; }
  .table__data {
    border: 1px solid black; }
    .table__data tr:first-child {
      background: #153152;
      color: white; }
    .table__data tr th,
    .table__data tr td {
      padding: 6px;
      height: 33px;
      border: 1px solid #bbb;
      text-align: center; }
      .table__data tr th:nth-child(2),
      .table__data tr td:nth-child(2) {
        width: 500px; }

.complete__result > div {
  background-color: #eee;
  padding: 20px 16px;
  margin-bottom: 30px;
  border-radius: 4px;
  font-size: 0; }
  .complete__result > div p {
    font-weight: bold;
    display: inline-block;
    font-size: 1.6rem;
    padding: 0;
    line-height: 1.6;
    color: #333; }
  .complete__result > div img {
    opacity: 0.7;
    width: 28px;
    padding: 3px;
    position: relative;
    top: 8px;
    margin-right: 6px; }
  .complete__result > div span {
    font-size: 1.4rem;
    margin-left: 2px;
    margin-right: 5px;
    color: #333; }
  .complete__result > div small {
    font-size: 1.4rem;
    margin: 0 1px;
    color: #777; }
  .complete__result > div .name {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #000;
    position: relative;
    top: 1px; }
  .complete__result > div .clock {
    margin-right: 2px;
    margin-left: 10px; }

.edit__input label {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 6px;
  display: block;
  line-height: 40px;
  color: #444; }
  .edit__input label img {
    margin-right: 5px;
    opacity: 0.7;
    width: 28px;
    padding: 3px;
    position: relative;
    top: 7px; }

.edit__input input,
.edit__input select {
  appearance: none;
  -webkit-appearance: none;
  height: 36px;
  border: 1px solid #bbb;
  padding: 0 8px;
  margin-bottom: 30px;
  font-size: 1.6rem;
  background: white;
  border-radius: 4px; }

.edit__input span {
  font-size: 1.4rem;
  margin-right: 16px;
  margin-left: 2px; }

.edit__input small {
  white-space: pre; }

.edit__input .form-name {
  width: 100%; }

.edit__input .form-year {
  width: 60px; }

.edit__input .form-month,
.edit__input .form-date {
  width: 36px; }

.edit__input .form-starttime-hour,
.edit__input .form-starttime-minute,
.edit__input .form-endtime-hour,
.edit__input .form-endtime-minute {
  width: 36px;
  margin-bottom: 40px; }

.confirm {
  width: 100%;
  height: 100vh;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  background: #0009;
  display: none; }
  .confirm__dialog {
    background: white;
    width: 300px;
    padding: 30px 20px 14px;
    border-radius: 6px;
    margin: auto;
    position: relative;
    top: 45%;
    text-align: center; }
    .confirm__dialog p {
      margin-bottom: 30px; }
  .confirm__buttons {
    display: flex;
    justify-content: space-between; }
    .confirm__buttons #delete-button,
    .confirm__buttons #close-button {
      width: 42%; }

.list {
  padding: 0 20px 80px !important; }
  .list h2 {
    position: sticky;
    width: 100%;
    font-size: 2.2rem;
    border-bottom: 3px double #5c74a4;
    background: white;
    top: calc(112px - 1px);
    padding: 20px 10px 5px;
    margin-bottom: 30px;
    z-index: 800; }
  .list h3 {
    font-size: 2.2rem;
    background: white;
    padding: 10px; }
  .list span {
    font-size: 1.6rem;
    margin: 0 10px;
    position: relative;
    top: -1px;
    z-index: 1; }
  .list table {
    width: 100%;
    font-size: 1.6rem;
    margin-bottom: 50px; }
    .list table tr td {
      height: 38px;
      border: 1px solid #bbb;
      border-radius: 2px;
      padding: 6px 8px; }
      .list table tr td:nth-child(3n) {
        min-width: 50px;
        text-align: center;
        background: #153152; }
        .list table tr td:nth-child(3n) a {
          color: white;
          font-size: 1.4rem; }
      .list table tr td:nth-child(3n+1) {
        width: 80%; }
      .list table tr td:nth-child(3n+2) {
        text-align: right;
        width: 30%;
        max-width: 300px;
        min-width: 100px; }
  .list .empty {
    text-align: center; }
    .list .empty__logo {
      width: 30px;
      display: inline-block;
      margin: 0 auto;
      opacity: 0.5;
      margin-top: 80px;
      margin-bottom: 12px; }
    .list .empty__caption {
      text-align: center;
      width: 100%;
      display: inline-block;
      color: #888; }

.post__input label {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 6px;
  display: block;
  line-height: 40px;
  color: #444; }
  .post__input label img {
    margin-right: 5px;
    opacity: 0.7;
    width: 28px;
    padding: 3px;
    position: relative;
    top: 7px; }

.post__input input,
.post__input textarea,
.post__input select {
  appearance: none;
  -webkit-appearance: none;
  height: 36px;
  border: 1px solid #bbb;
  padding: 0 8px;
  margin-bottom: 30px;
  font-size: 1.6rem;
  background: white;
  border-radius: 4px; }

.post__input input {
  width: 100%; }

.post__input textarea {
  width: 100%;
  height: 200px;
  padding: 8px; }

.post__input select {
  pointer-events: none;
  color: #999;
  background: #f3f3f3; }

.post__input span {
  font-size: 1.4rem;
  margin-right: 16px;
  margin-left: 2px; }

.post__input small {
  white-space: pre; }

.post__input .form-name {
  width: 70%; }

.post__input .form-year {
  width: 60px; }

.post__input .form-month,
.post__input .form-date {
  width: 36px; }

.post__input .label-content img {
  width: 26px; }

.news {
  padding-bottom: calc(80px + 24px) !important; }
  .news__item {
    padding: 30px 14px;
    border-top: 2px solid #153152;
    background: #f4f4f4; }
    .news__item:last-child {
      border-bottom: 2px solid #153152; }
    .news__item h2 {
      font-size: 1.8rem;
      font-weight: 500;
      margin-bottom: 24px; }
      .news__item h2 img {
        width: 24px;
        margin-right: 10px;
        opacity: 0.6;
        position: relative;
        top: 2px; }
    .news__item p {
      margin-bottom: 16px;
      line-height: 1.6;
      font-size: 1.4rem; }
    .news__item h3,
    .news__item h4 {
      display: inline-block;
      text-align: right;
      color: #888; }
      .news__item h3 img,
      .news__item h4 img {
        height: 20px;
        position: relative;
        margin-right: 6px;
        opacity: 0.6; }
    .news__item h3 {
      width: 64%;
      font-size: 1.4rem; }
      .news__item h3 img {
        top: 3px; }
    .news__item h4 {
      width: 36%;
      min-width: 10px;
      font-size: 1.5rem; }
      .news__item h4 img {
        top: 4px; }
    .news__item .content {
      white-space: pre-wrap; }
  .news .empty {
    text-align: center; }
    .news .empty__logo {
      width: 30px;
      display: inline-block;
      margin: 0 auto;
      opacity: 0.5;
      margin-top: 80px;
      margin-bottom: 12px; }
    .news .empty__caption {
      text-align: center;
      width: 100%;
      display: inline-block;
      color: #888; }

.submit__result > div {
  background-color: #eee;
  padding: 20px 16px;
  margin-bottom: 30px;
  border-radius: 4px;
  font-size: 0; }
  .submit__result > div p {
    font-weight: bold;
    display: inline-block;
    font-size: 1.6rem;
    padding: 0;
    line-height: 1.6;
    color: #333; }
  .submit__result > div img {
    opacity: 0.7;
    width: 28px;
    padding: 3px;
    position: relative;
    top: 8px;
    margin-right: 10px; }
  .submit__result > div span {
    font-size: 1.6rem;
    margin-left: 2px;
    margin-right: 5px;
    color: #333; }
  .submit__result > div .name {
    margin-bottom: 10px;
    color: #000;
    position: relative;
    top: 1px; }
  .submit__result > div .title-logo {
    margin-top: 10px; }
  .submit__result > div .title {
    margin-bottom: 10px; }
  .submit__result > div .content-logo {
    vertical-align: top; }
  .submit__result > div .content {
    margin-top: 14px;
    width: calc(100% - 38px);
    white-space: pre-wrap; }

.update__result > div {
  background-color: #eee;
  padding: 20px 16px;
  margin-bottom: 30px;
  border-radius: 4px;
  font-size: 0; }
  .update__result > div p {
    font-weight: bold;
    display: inline-block;
    font-size: 1.6rem;
    padding: 0;
    line-height: 1.6;
    color: #333; }
  .update__result > div img {
    opacity: 0.7;
    width: 28px;
    padding: 3px;
    position: relative;
    top: 8px;
    margin-right: 6px; }
  .update__result > div span {
    font-size: 1.4rem;
    margin-left: 2px;
    margin-right: 5px;
    color: #333; }
  .update__result > div small {
    font-size: 1.4rem;
    margin: 0 1px;
    color: #777; }
  .update__result > div .name {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #000;
    position: relative;
    top: 1px; }
  .update__result > div .clock {
    margin-right: 2px;
    margin-left: 10px; }

.delete {
  display: block; }
