
/*
Valiables used in mixins.
*/

$break-point-mobile: 480px;
$break-point-tablet: 896px;
$break-point-desktop: 1024px;

/*
MediaQuery
*/

@mixin query-max($size) {
  @media all and (max-width: $size) {
    @content;
  }
}

@mixin query-min($size) {
  @media all and (min-width: $size) {
    @content;
  }
}

@mixin mq-mobile {
  @include query($break-point-mobile) {
    @content;
  }
}

@mixin mq-tablet {
  @include query($break-point-tablet) {
    @content;
  }
}

@mixin mq-desktop {
  @include query($break-point-desktop) {
    @content;
  }
}

/*
Typography
*/

@mixin typography($weight, $size, $height, $spacing, $color) {
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
  letter-spacing: $spacing;
  color: $color;
}

@mixin header-small($color) {
  @include typography(bold, 2.2rem, 158%, -0.004em, $color);
}

@mixin body-large-regular($color) {
  @include typography(normal, 1.7rem, 158%, -0.4px, $color);
}

@mixin body-large-bold($color) {
  @include typography(bold, 1.7rem, 158%, -0.4px, $color);
}

@mixin body-medium-regular($color) {
  @include typography(normal, 1.5rem, 158%, 0, $color);
}

@mixin body-medium-bold($color) {
  @include typography(600, 1.5rem, 158%, 0, $color);
}

@mixin body-medium-regular-jp($color) {
  @include typography(normal, 1.5rem, 152%, 0, $color);
}

@mixin caption-medium($color) {
  @include typography(normal, 1.3rem, 138%, 0, $color);
}

/*
CommonStyles
*/

@mixin ui-button($bg-color, $text-color, $height) {
  width: 100%;
  height: $height;
  background: $bg-color;

  @include body-large-bold($text-color);
}

@mixin basic-block {
  display: block;
  width: 100%;
  height: auto;
}

@mixin back-shadow {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background: $back-shadow;
}

@mixin image-division($size: cover) {
  background-size: $size;
  background-repeat: no-repeat;
  background-position: center;
}

@mixin overflow-elipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// 複数行のテキストに対し、領域からはみ出した分を省略し末尾に「...」をつける(IE未対応)
@mixin overflow-elipsis-multiple-line($line) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
  overflow: hidden;
}

// スクロールバーを非表示にする
@mixin hide-scroll-bar {
  // IE, Edge対応
  -ms-overflow-style: none;

  // Chrome, Safari対応
  &::-webkit-scrollbar {
    display: none;
  }

  // Firefox対応
  scrollbar-width: none;
}

// スクロール可能な要素に付与すべきスタイル
@mixin scrollable-block {
  -webkit-overflow-scrolling: touch;

  @include hide-scroll-bar;
}
