/*
  Width
*/

$max-width-common: 600px;
$width-quantity-button: 48px;

/*
  Heights
*/

$height-header: 48px;
$height-button: 72px;
$height-banner: 86px;

/*
  Margin
*/

$margin-quantity-button: 8px;

/**
 *Colors
 */

$black: #1c1c1c;
$StorokeGray: #3c3c3c;
$gray: #b5b5b5;
$white: #fff;
$red: #f00;

$back-shadow: #000c;
$popup-link: #3478f6;
$popup-text: #85858a;

$color-safe-area-green: #0f6;
$color-primary-red: #f63124;
$color-text-black: #000;
$color-bg-gray: #f4f4f4;
$color-ui-stroke-gray: #3e3e3e;
$color-overlay-black: rgba(0, 0, 0, 0.8);
$color-transparent: rgba(0, 0, 0, 0);
