@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:300,400,500|Roboto:300,400,500&display=swap");

@font-face {
  src: url('../../font/5.ttf');
  font-family: 'logo';
}

* {
  font-family: Roboto, "Noto Sans JP", sans-serif;
}
