@mixin basic-button($button-background, $color) {
  width: 80%;
  margin: 0 auto 16px;
  font-size: 1.5rem;
  display: block;
  height: $height-button;
  border-radius: 4px;
  max-width: 400px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  background: $button-background;
  color: $color;
}

@mixin shadow($top: 0, $left: 0, $color: $lightgray) {
  box-shadow: $top $left 8px $color;
}

@mixin button-primary {
  @include basic-button($theme-blue, $white);
}

@mixin button-cancel {
  @include basic-button(#f0f0f0, $gray);
}

@mixin button-danger {
  @include basic-button($danger-red, $white);
}
