@mixin basic-button($background, $color) {
  width: 80%;
  margin: auto;
  font-size: 1.5rem;
  display: block;
  height: $height-button;
  border-radius: 4px;
  max-width: 400px;
  box-shadow: 0 4px 4px rgba( 0, 0, 0, .2 );
  background: $background;
  color: $color;
}

@mixin button-primary {
  @include basic-button($theme-blue, $white);
}

@mixin button-cancel {
  @include basic-button($white, $theme-blue);
}
