/*----------*/
/*  COLORS  */
/*----------*/

$theme-blue: #5c74a4;
$sub-blue: #e4eaf1;
$sub-dakkblue: #153152;
$background: #fdfdff;

$black: #111;
$white: #fff;

/*-----------*/
/* VARIABLES */
/*-----------*/

$height-header: 90px;
$height-sub-header: 48px;
$height-footer: 80px;
$height-button: 40px;
