$theme-blue: #5c74a4;
$sub-blue: #e4eaf1;
$sub-darkblue: #153152;
$background: #fdfdff;
$danger-red: #bc6f59;

$black: #111;
$white: #fff;
$lightgray: #bbb;
$gray: #888;
$darkgray: #444;

$height-header: 72px;
$height-sub-header: 40px;
$height-footer: 80px;
$height-button: 40px;
