@import "import";

.header {
  position: fixed;
  width: 100%;
  height: $height-header;
  background: $theme-blue;
  padding: 20px 30px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  top: 0;
  z-index: 10;

  &__link {
    display: inline-block;
  }

  &__title {
    font-size: 3rem;
    color: $white;
    font-weight: 300;
    letter-spacing: 2px;
  }

  &__description {
    font-size: 1rem;
    color: #dfe4f9;
  }
}

.sub-header {
  position: fixed;
  width: 100%;
  height: $height-sub-header;
  background: $sub-blue;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  top: $height-header - 1;
  z-index: 1;

  &__title {
    font-size: 1.8rem;
    line-height: $height-sub-header;
    padding: 2px 20px 0;
    letter-spacing: 2px;
  }
}

.main {
  margin-top: calc(#{$height-header + $height-sub-header});
  height: calc(100vh - #{$height-header + $height-sub-header});
  font-size: 2rem;

  > div {
    max-width: 600px;
    margin: 0 auto;
    border-right: 1px solid $theme-blue;
    border-left: 1px solid $theme-blue;
  }

  &__index {
    height: calc(100% - #{$height-footer});
    overflow-y: scroll;
    padding: 0 20px;

    h2 {
      position: sticky;
      width: 33%;
      font-size: 2.4rem;
      border-bottom: 3px double $theme-blue;
      background: white;
      top: 0;
      height: 50px;
      padding: 10px 10px 0;
      margin-bottom: -50px;
    }

    h3 {
      position: sticky;
      width: 33%;
      font-size: 2.4rem;
      border-bottom: 3px double $theme-blue;
      background: white;
      top: 0;
      left: 33%;
      text-align: center;
      height: 50px;
      padding-top: 10px;
      margin-bottom: 100px;
    }

    h4 {
      position: sticky;
      width: 33%;
      font-size: 2.4rem;
      border-bottom: 3px double $theme-blue;
      background: white;
      text-align: center;
      height: 50px;
      padding-top: 10px;
      top: 0;
      left: 66%;
      margin-bottom: 46px;
    }

    table {
      width: 100%;
      font-size: 1.6rem;
      margin-bottom: 50px;

      tr {
        td {
          height: 30px;
          line-height: 35px;
          border: 1px solid #bbb;
          padding: 0 8px;

          &:nth-child(3n) {
            width: 15%;
            background: $sub-dakkblue;

            button {
              color: white;
            }
          }

          &:nth-child(3n+1) {
            width: 80%;
          }

          &:nth-child(3n+2) {
            text-align: right;
          }
        }
      }
    }
  }

  &__footer {
    height: $height-footer;
    background: $sub-blue;
    opacity: 0.8;
    box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.2);
    padding: 20px 0;

    button {
      @include button-primary;
    }
  }

  // &__reserve {
  // }
  //
  // &__confirm {
  // }
  //
  // &__complete {
  // }

  &__table {
    height: calc(100% - #{$height-footer});
    font-size: 1.4rem;
    overflow-y: scroll;

    &__data {
      border: 2px solid black;
      margin-bottom: 20px;

      tr {
        th,
        td {
          padding: 6px;
          border: 1px solid #bbb;
          text-align: center;

          &:nth-child(2) {
            width: 500px;
          }
        }
      }
    }

    button {
      @include button-cancel;
    }
  }
}
