@import "import";

/*--------*/
/* STYLES */
/*--------*/

.header {
  position: fixed;
  width: 100%;
  height: $height-header;
  background: $theme-blue;
  padding: 20px 30px;
  box-shadow: 0 4px 4px rgba( 0, 0, 0, .3 );
  top: 0;
  z-index: 10;

  &__link {
    display: inline-block;
  }

  &__title {
    font-size: 3rem;
    color: $white;
    font-weight: 300;
    letter-spacing: 2px;
  }

  &__description {
    font-size: 1rem;
    color: #dfe4f9;
  }
}

.sub-header {
  position: fixed;
  width: 100%;
  height: $height-sub-header;
  background: $sub-blue;
  box-shadow: 0 4px 4px rgba( 0, 0, 0, .2 );
  top: $height-header - 1;

  &__title {
    font-size: 1.6rem;
    line-height: $height-sub-header;
    padding: 2px 20px 0;
    letter-spacing: 2px;
  }
}

.main {
  margin-top: calc( #{$height-header + $height-sub-header} );
  height: calc( 100vh - #{$height-header + $height-sub-header} );
  font-size: 2rem;

  > div {
    padding: 20px;
  }

  &__index {
    height: calc( 100% - #{$height-footer} );
    overflow-y: scroll;
  }

  &__footer {
    height: $height-footer;
    background: $sub-blue;
    opacity: .8;
    box-shadow: 0 -4px 4px rgba( 0, 0, 0, .2 );
    padding: 20px 0;

    button {
      @include button-primary;
    }
  }

  // &__reserve {
  // }
  //
  // &__confirm {
  // }
  //
  // &__complete {
  // }

  &__table {

    font-size: 1.4rem;
    &__data {
      border: 1;
      margin-bottom: 20px;
      tr {
        th,
        td {
          border: 1px solid #bbb;
          padding: 6px;
          text-align: center;
          &:nth-child(2) {
            width: 500px;
          }
        }
      }
    }

    button {
      @include button-cancel;
    }
  }
}
