.complete {
  &__result {
    label {
      font-size: 1.8rem;
      font-weight: 400;
      margin-bottom: 6px;
      display: block;
      line-height: 40px;

      img {
        margin-right: 5px;
        color: #555;
        opacity: 0.7;
        width: 28px;
        padding: 3px;
        font-size: 2rem;
        position: relative;
        top: 6px;
      }
    }

    > div {
      background-color: #eee;
      padding: 20px 16px;
      margin-bottom: 30px;
      border-radius: 4px;
      font-size: 0;

      p {
        font-weight: bold;
        display: inline-block;
        font-size: 1.6rem;
        padding: 0;
        line-height: 1.6;
        color: #333;
      }

      img {
        opacity: 0.7;
        width: 28px;
        padding: 3px;
        position: relative;
        top: 8px;
        margin-right: 6px;
      }

      span {
        font-size: 1.4rem;
        margin-left: 2px;
        margin-right: 5px;
        color: #333;
      }

      small {
        font-size: 1.4rem;
        margin: 0 1px;
        color: #777;
      }

      .name {
        font-size: 1.8rem;
        margin-bottom: 10px;
        color: #000;
        position: relative;
        top: 1px;
      }

      .clock {
        margin-right: 2px;
        margin-left: 18px;
      }
    }
  }
}
