.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: $height-header;
  background: $theme-blue;
  padding: 12px 24px 8px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  top: 0;
  z-index: 1000;

  &__link {
    display: inline-block;
  }

  &__title {
    font-size: 2.8rem;
    color: $white;
    font-weight: 400;
    letter-spacing: 4px;
    line-height: 1.2;
    margin-left: 20px;
    font-family: 'logo', sans-serif;
  }

  &__description {
    font-size: 1rem;
    color: #dfe4f9;
    margin-left: 4px;
    letter-spacing: -0.5px;
  }

  &__icon {
    padding: 14px;

    img {
      width: 28px;
    }
  }
}

.sub-header {
  position: fixed;
  width: 100%;
  height: $height-sub-header;
  background: $sub-blue;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  top: $height-header - 1;
  z-index: 900;

  &__title {
    font-size: 1.6rem;
    line-height: $height-sub-header;
    color: $black;
    padding: 2px 20px 0;
    letter-spacing: 2px;
    font-weight: 400;
  }
}
