@import '../variables';

.index {
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    li {
      margin: 4px 0;
      width: $length-menucard;
      height: $length-menucard;
      max-width: 264px;
      max-height: 264px;
      padding: 4px 0 40px;
      margin-bottom: 20px;
      color: $white;
      background: $menucard;
      border-radius: 8px;
      text-align: center;
      box-shadow: 0 0 10px $darkgray;

      a {
        opacity: 0.9;
        width: 100%;
        height: $length-menucard;
        padding: 0 14px;
        padding-top: calc(#{$length-menucard/5});
        display: block;
        text-align: center;
        font-size: 1.6rem;

        img {
          height: 36px;
          width: 36px;
          margin: 0 auto 24px;
          display: block;
        }
      }
    }
  }

  .confirm {
    width: 100%;
    height: 100vh;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    background: #0009;
    display: none;

    input {
      appearance: none;
      -webkit-appearance: none;
      height: 36px;
      border: 1px solid #bbb;
      padding: 0 8px;
      margin-bottom: 30px;
      font-size: 1.6rem;
      background: white;
      border-radius: 4px;
    }

    &__dialog {
      background: white;
      width: 300px;
      padding: 30px 20px 14px;
      border-radius: 6px;
      margin: auto;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;

      .form-password {
        width: 90%;
        padding-right: 0;
        margin-bottom: 30px;
        height: 42px;
        font-size: 1.4rem;
      }

      p {
        margin-bottom: 30px;
      }
    }

    &__buttons {
      display: flex;
      justify-content: space-between;

      #login-button,
      #close-button {
        width: 42%;
      }
    }
  }
}
