.post {
  &__input {
    label {
      font-size: 1.8rem;
      font-weight: 400;
      margin-bottom: 6px;
      display: block;
      line-height: 40px;
      color: #444;

      img {
        margin-right: 5px;
        opacity: 0.7;
        width: 28px;
        padding: 3px;
        position: relative;
        top: 7px;
      }
    }

    input,
    textarea,
    select {
      appearance: none;
      -webkit-appearance: none;
      height: 36px;
      border: 1px solid #bbb;
      padding: 0 8px;
      margin-bottom: 30px;
      font-size: 1.6rem;
      background: white;
      border-radius: 4px;
    }

    textarea {
      width: 100%;
      height: 100px;
      padding: 8px;
    }

    select {
      pointer-events: none;
      color: #999;
      background: #f3f3f3;
    }

    span {
      font-size: 1.4rem;
      margin-right: 16px;
      margin-left: 2px;
    }

    small {
      white-space: pre;
    }

    .form-name {
      width: 100%;
    }

    .form-year {
      width: 60px;
    }

    .form-month,
    .form-date {
      width: 36px;
    }

    .form-starttime-hour,
    .form-starttime-minute,
    .form-endtime-hour,
    .form-endtime-minute, {
      width: 36px;
      margin-bottom: 40px;
    }
  }
}
