.submit {
  &__result {
    > div {
      background-color: #eee;
      padding: 20px 16px;
      margin-bottom: 30px;
      border-radius: 4px;
      font-size: 0;

      p {
        font-weight: bold;
        display: inline-block;
        font-size: 1.6rem;
        padding: 0;
        line-height: 1.6;
        color: #333;
      }

      img {
        opacity: 0.7;
        width: 28px;
        padding: 3px;
        position: relative;
        top: 8px;
        margin-right: 10px;
      }

      span {
        font-size: 1.6rem;
        margin-left: 2px;
        margin-right: 5px;
        color: #333;
      }

      .name {
        margin-bottom: 10px;
        color: #000;
        position: relative;
        top: 1px;
      }

      .title-logo {
        margin-top: 10px;
      }

      .title {
        margin-bottom: 10px;
      }

      .content-logo {
        vertical-align: top;
      }

      .content {
        margin-top: 14px;
        width: calc(100% - 38px);
        white-space: pre-wrap;
      }
    }
  }
}
