.table {
  font-size: 1.2rem;
  padding-bottom: calc(#{$height-footer} + 24px) !important;

  &__data {
    border: 1px solid black;

    tr {
      &:first-child {
        background: $sub-darkblue;
        color: white;
      }

      th,
      td {
        padding: 6px;
        height: 33px;
        border: 1px solid #bbb;
        text-align: center;

        &:nth-child(2) {
          width: 500px;
        }
      }
    }
  }
}
